{% extends "base.html" %}

{% block content %}
<div class="block1">
	
	<h1>New topic? Go for it ;)	
		<form action= "/imgs" method="POST">
		    <input name="text">
		    <input type="submit">
		</form>

	</h1>
	<div class="block2">
		<meta http-equiv="refresh" content="6">

		  <!-- Photo Grid -->
		<div class="row"> 
		  <div class="column">
		    <img src={{name1}} style="width:100%">
		    <img src={{name1}} style="width:100%">
		    <img src={{name1}} style="width:100%">
		    <img src={{name1}} style="width:100%">
		    <img src={{name1}} style="width:100%">
		    <img src={{name1}} style="width:100%">
		    <img src={{name1}} style="width:100%">
		  </div>

		
	</div>>	  
</div>

{% endblock %}
