<!-- templates/index.html -->

{% extends "base_2.html" %}

{% block content %}

<h1>New topic? Go for it ;)	
		<form action= "/" method="POST">
		    <input name="text">
		    <input type="submit">
		</form>

</h1>
	<div class="block">
		<meta http-equiv="refresh" content="6">


		 <!-- Photo Grid -->
		<div class="row"> 
		  <div class="column">
		    <img src={{name1}} width= "300" height="300">
		    <img src={{name2}} width= "300" height="300">
		    <img src={{name3}} width= "300" height="300">
		    <img src={{name4}} width= "300" height="300">
		    <img src={{name5}} width= "300" height="300">
		    <img src={{name6}} width= "300" height="300">
		    
		  </div>
		 </div>
	</div>>	

{% endblock %}